<!doctype html>
<html>
	<head>
		<title>Khảo sát Điện Từ Trường</title>
		<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css">
	/* CSS styles here... */
	</style>
	</head>
	
	<body>
	<!-- Công thức 75.8 -->
	<div lang="latex">
		\textbf{f} = \frac{2 e^2}{3 c^3} \ddot{\textbf{v}}
	</div>
	<!-- Công thức 75.9 -->
	<div lang="latex">
		m \dot{\textbf{v}} = e\textbf{E} + \frac{e}{c} \textbf{v} \times \textbf{H} +\frac{2 e^2}{3 c^3} \ddot{\textbf{v}}
	</div>
	
	<div lang="latex">
		\ddot{\textbf{v}} = \frac{e}{m} \dot{\textbf{E}} + \frac{e}{mc} \dot{\textbf{v}} \times \textbf{H}
	</div>
	
	<div>Voi <span lang="latex">\dot{\textbf{v}} = (e/m)\textbf{E}</span>
	<div lang="latex">
	
	</div>
	
	</body>
	
</html>
