<!doctype html>
<head>
	<title>Radiation Damping</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<!-- Header -->
<div class="container mb-3">
<div class="row">
	<div class="col-md-3">
	</div>

	<div class="col-md-6">	
		<div class="card bg-success text-white ml-2">
			<div class="card-body text-center">
				<h6 class="card-text"><strong>Radiation Damping</strong></h6>
			</div>
		</div>
	</div>

</div>
</div>
<!-- Content -->
<div class="container-fluid">
<div class="row">

<!-- Menu Page -->
<div class="col-md-3">
<div class="menu">
	<button class="btn btn-primary ml-4 mb-2" data-toggle="collapse" data-target="#potential">1 Khai triển các thế</button>

	<button class="btn btn-primary ml-4 mb-2" data-toggle="collapse" data-target="#force_simple">2 Bức xạ Damping</button>

	<button class="btn btn-primary ml-4 mb-2" data-toggle="collapse" data-target="#force_damping">3 Khảo sát điện từ trường</button>

</div>
</div>

<!-- Content Page  -->
<div class="col-md-6 page">
   <div id="potential" class="collapse ml-5">
	<button class="btn btn-outline-danger mb-1 mt-3" data-toggle="collapse" data-target="#scalar_65">Scalar Potential (Thế vô hướng):</button>
	<div class="btn" lang="latex">
		\phi = \int \frac{1}{R} \rho_{t - \frac{R}{c}} dV
	</div>

	<button class="btn btn-outline-danger" data-toggle="collapse" data-target="#term_in_third">Khai triển số hạng bậc 3 trong 1/c </button>
	<div class="btn" lang="latex">
		\phi^{(3)} = - \frac{1}{6c^3} \frac{\partial^{3}}{\partial t} \int R^3 \rho dV
	</div>

	<button class="btn btn-outline-danger" data-toggle="collapse" data-target="#vector_in_second">Tương tự ta khai triển theo số hạng bậc 2 của thế Vector A:</button>
	<div class="btn">
		<span lang="latex">\textbf{A}^{(2)} = -\frac{1}{c^2} \frac{\partial}{\partial t} \int \textbf{j} dV</span>
		với <span lang="latex"> j = \rho v </span>
	</div>

	<button class="btn btn-outline-danger"data-toggle="modal" data-target="#gauge">Sử dụng bất biến Gauge: </button>
	<div class="modal" id="gauge">
	    <div class="modal-dialog">
      	    <div class="modal-content">
		<div class="modal-header">
          		<h4 class="modal-title">Gauge invariance</h4>
		</div>
		<div class="modal-body btn">
			<span lang="latex">\phi' = \phi - \frac{1}{c} \frac{\partial f}{\partial t} </span>
			,<span lang="latex">\textbf{A}' = \textbf{A} + grad f</span>
		</div>
	    </div>
            </div>
	</div>

	<div> Chọn hàm f sao cho thế vô hướng <span lang="latex">\phi'^3</span> bằng 0</div>
	<div class="btn" lang="latex">
		f = - \frac{1}{6 c^2} \frac{\partial}{\partial t} \int R^2 \rho dV .
	</div>

	<button class="btn btn-outline-danger mb-3" data-toggle="collapse" data-target="#scalar_gauge">
		Biến đổi thế vector sau khi dời tọa độ theo bất biến gauge: 
	</button>
	<div id="scalar_gauge" class="collapse">
	<div class="btn" lang="latex">
		\textbf{A} '^{(2)} = -\frac{1}{c^2} \frac{\partial}{\partial t} \int \textbf{j} dV - \frac{1}{6 c^2} \frac{\partial^2}{\partial t^2} \nabla \int R^2 \rho dV
	</div>
	<div class="btn" lang="latex">
		= -\frac{1}{c^2} \frac{\partial}{\partial t} \int \textbf{j} dV - \frac{1}{3 c^3} \frac{\partial^2}{\partial t^2} \int \textbf{R} \rho dV
	</div>
	</div>  	

	<!-- modal cho biến đổi thế vector -->
	<button class="btn btn-outline-danger" data-toggle="modal" data-target="#scalar_tranform">
		 Từ công thức <span lang="latex">\int \rho dV = \sum{ }_{ } e </span> ta có:
	</button>
	<div class="modal" id="scalar_tranform">
	    <div class="modal-dialog">
      	    <div class="modal-content">

		<div class="modal-header">
			<h4 class="ml-5 btn btn-outline-warning" lang="latex">
			-\frac{1}{c^2} \frac{\partial}{\partial t} \int \textbf{j} dV - \frac{1}{3 c^3} \frac{\partial^2}{\partial t^2} \int \textbf{R} \rho dV
	 		</h4>
		</div>

		<div class="modal-body">
		
		<div>Số hạng thứ nhất của Thế Vector trở thành</div>
		<div class="btn" lang="latex">
			- \frac{1}{c^2} \sum{ }_{ } e \dot{\textbf{v}} .
		</div>

		<div> Ở số hạng thứ 2 ta viết lại như sau 
			 <span lang="latex"> \textbf{R} = \textbf{Ro} - \textbf{r}.</span> 
			với <strong>Ro</strong> và <strong>r</strong> được định nghĩa trong bài 66; Khi đó 
			<span lang="latex"> \dot{\textbf{R}} = -\dot{\textbf{r}} = -\textbf{v} </span> 
			số hạng thứ 2 có dạng sau:
		</div>

		<div class="btn" lang="latex"> \frac{1}{3 c^2} \sum{ }_{ } e \dot{\textbf{v}}</div>
		</div>

	    </div>
            </div>
	</div>

	<div> Từ đây ta có thế vector sau khi biến đổi:</div>
	
	<button class="btn btn-light" data-toggle="collapse" data-target="#note1">
		<div lang="latex"> \textbf{A}'^{(2)} = - \frac{2}{3 c^2} \sum{ }_{ } e \dot{\textbf{v}}.</div> 
	</button>
  </div>
  <!-- Từ đây là khảo sát trường điện từ áp vào thế vector trên để tìm ra bức xạ damping -->
  <div id="force_simple" class="collapse ml-5">
	<!-- Khao sat dien tu truong voi the A'{2}  -->
	<button class="btn btn-outline-danger mt-3" data-toggle="collapse" data-target="#magnetic_0">
		 Từ trường trong thế này = 0 <span lang="latex">(\textbf{H} = curl \textbf{A}'^{(2)} = 0)</span>
	</button>

	<button class="btn btn-outline-danger">Điện trường <strong>E</strong> = -(1/c) <strong>dA/dt</strong>'(2) trở thành:</button>
	<div class="btn" lang="latex"> \textbf{E} = \frac{2}{3 c^3} \dddot{\textbf{d}}</div>

	<button class="btn btn-outline-danger" data-toggle="collapse" data-target="#demo_damping_force">Lực gây ra bởi từng điện tích e là <strong>f</strong> = e<strong>E</strong> tương tự cho lực này:</button>
	<div class="btn" lang="latex"> \textbf{f} = \frac{2e}{3 c^3} \dddot{\textbf{d}} </div>

	<button class="btn btn-outline-danger" data-toggle="modal" data-target="#demo_damping_work">
		Khảo sát công toàn phần của lực trên <strong>f.v</strong>
	</button>

	<!-- modal -->
	<div class="modal" id="demo_damping_work">
	    <div class="modal-dialog">
      	    <div class="modal-content">

		<div class="modal-header">
			<h4 class="ml-5 btn btn-outline-warning" lang="latex">
			Công toàn phần của lực.
	 		</h4>
		</div>
		<div class="modal-body">
			<div lang="latex">
				\sum{ }_{ } \textbf{f.v} = \frac{2}{3 c^3} \dddot{\textbf{d}} . \sum{ }_{ } e \textbf{v}
				= \frac{2}{3 c^3} \dddot{\textbf{d}} . \dot{\textbf{d}}
				= \frac{2}{3 c^3} [ \frac{d}{dt} (\dot{\textbf{d}}.\ddot{\textbf{d}})-( \ddot{\textbf{d}})^2 ]
			</div>
		</div>
	    </div>
	    </div>
	
	</div>

	<button class="btn btn-outline-danger" data-toggle="collapse" data-target="#damping_work">
		Khi ta lấy trung bình trên thời gian,biểu thức trở thành:</button>
	<div class="collapse" id="damping_work">
		<div class="btn" lang="latex">\overline{\sum{ }_{ } \textbf{f.v}} = -\overline{\frac{2}{3 c^3} \ddot{\textbf{d}}} </div>
	</div>

	<div>Ta gọi lực f sinh ra công này là là Bức xạ Damping hay còn gọi là Lực Ma sát Lorentz</div>
  
	<button class="btn btn-outline-danger" data-toggle="collapse" data-target="#reason_moment">
		Lấy đạo hàm theo thời gian cho Moment quán tính M 
	</button>
	<div class="btn" lang="latex">
		\dot{\textbf{M}} = \sum{ }_{ }\textbf{r x f} = \frac{2}{3 c^3} \sum{ }_{ }e\textbf{r}\times \dddot{\textbf{d}} = \frac{2}{3 c^3} \textbf{d} \times \dddot{\textbf{d}}.
	</div>

	<div class="btn">Tiếp tục lấy  trung bình toàn thời gian ta viết lại Moment quán tính M như sau:</div>
	<div class="btn" lang="latex">
		\overline{\frac{d\textbf{M}}{dt}} = -\frac{2}{3 c^3}\overline{\dot{\textbf{d}}\times \ddot{\textbf{d}}}
	</div>
  
  
	<!-- Công thức 75.8 -->
	<div class="btn">Ghi lại công thức cho Bức Xạ Damping</div>
	<button class="btn btn-light" data-toggle="collapse" data-target="#note2" lang="latex">
		\textbf{f} = \frac{2 e^2}{3 c^3} \ddot{\textbf{v}}
	</button>
  </div>
  <div id="force_damping" class="collapse">
	<!-- Công thức 75.9 -->
	<button class="btn btn-outline-danger" data-toggle="collapse" data-target="#lorentz_force">Với tính chất của lực Lorenzt ta có:</button>
	<div class="btn" lang="latex">
		m \dot{\textbf{v}} = e\textbf{E} + \frac{e}{c} \textbf{v} \times \textbf{H} +\frac{2 e^2}{3 c^3} \ddot{\textbf{v}}
	</div>

	<div>Khi hệ đang xét thỏa ý nghĩa vật lý của các đại lượng vật lý, tức là đạo hàm bậc 3 của vận tốc = 0, không có đại lượng khảo sát,
	Ta lấy đạo hàm theo thời gian của phương trình chuyển động của bức xạ damping phụ thuộc vào điện từ trường ta có:</div>
	<div class="btn" lang="latex">
		\ddot{\textbf{v}} = \frac{e}{m} \dot{\textbf{E}} + \frac{e}{mc} \dot{\textbf{v}} \times \textbf{H}
	</div>
	
	<div class="btn btn-outline-danger">Ta thế lại nghiệm trên vào phương trình bức xạ damping </div>
	<div>Với <span lang="latex">\dot{\textbf{v}} = (e/m)\textbf{E}</span></div>

	
	<div>Điều đó tương đương với phương trình lực damping bao gồm 2 số hạng</div>
	
	<div class="btn" lang="latex">\textbf{f} = \frac{2 e^3}{3 mc^3} \dot{\textbf{E}} + \frac{2 e^4}{3 m^2 c^4} \bf{E \times H}</div>
	
	<div>Nếu <span lang="latex">\omega</span> là tần số của chuyển động, Thì <span lang="latex"> \dot{\textbf{E}} \Leftrightarrow \omega\textbf{E}</span> Phương trình trở thành</div>
	<div class="btn" lang="latex">
		\textbf{f} = \frac{2 e^2}{3 mc^3} \omega .e\textbf{E} + \frac{2 e^3}{3 m^2 c^4} H .eE
	</div> 
	
	<button class="btn btn-light" data-toggle="collapse" data-target="#note3"> So sánh với lực gây ra bởi điện tích eE </button>
	<div class="btn" lang="latex">
		\frac{e^2}{m c^3} \omega \ll 1, \lambda \gg \frac{e^2}{m c^2}
	</div>
	<div class="btn" lang="latex">
		H \ll \frac{m^2 c^4}{e^3}.
	</div>

  </div>
</div>

<!-- Notes Page -->
<div class="col-md-3 save">
	<div id="note1" class="collapse">
		<div class="btn"> --Thế Vector khai triển bậc 2-- </div>
		<div class="btn btn-outline-info" lang="latex"> \textbf{A}'^{(2)} = - \frac{2}{3 c^2} \sum{ }_{ } e \dot{\textbf{v}}.</div>
	</div>
	
	<div id="note2" class="collapse">
		<div class="btn"> --Bức xạ Damping-- </div>
		<div class="btn btn-outline-info" lang="latex">\textbf{f} = \frac{2 e^2}{3 c^3} \ddot{\textbf{v}}</div>
	</div>

	<div id="note3" class="collapse border border-primary">
		<div class="btn mt-2">Biểu thức so sánh với trường điện tích</div> 
		<div class="btn" lang="latex">
			\frac{e^2}{m c^3} \omega \ll 1, \lambda \gg \frac{e^2}{m c^2}
		</div>
		<div class="btn" lang="latex">
			H \ll \frac{m^2 c^4}{e^3}.
		</div>
	</div>


	<div id="magnetic_0" style="width:100%" class="collapse border border-primary">
		<div>Vì biểu thức khai triển của thế Vector không chắc chứa biến tọa độ nên đạo hàm theo Tọa độ của từ trường = 0</div> 
	</div>

	<div id="demo_damping_force" class="collapse border border-primary">
		<div>Tồn tại điện trường tại khai triển mở rộng bậc 3, nên điện trường này sinh ra một ngoại lực bổ sung và tác dụng
		lên điện tích ban đầu, do đó lực sinh ra bởi trường này cũng phụ thuộc vào điện tích của nó</div>
	</div>

	<div id="reason_moment" class="collapse border-primary">
		<div>Vì bức xạ damping sinh ra một công trung bình âm, cho nên năng lượng thất thoát này
		cũng có thể làm giảm moment động lượng của hệ đi 1 phần. Cho nên ta khảo sao luôn lượng Moment giảm đi này. </div>
	</div>

	<div id="lorentz_force" class="collapse border-primary">
		<div class="btn btn-outline-info" lang="latex">
			e \textbf{E} + \frac{e}{c} \textbf{v} \times textbf{H} = 0
		</div>
	</div>

</div>

<!-- Đóng class row và container -->
</div>
</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
